p,h1,h2,h3 {
  font-family: Lato;
}
input[type=number]
{
  outline-color: green;
}

#content{
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
}
#container{
    width: 100%;
}

#top{
    position: fixed;
    z-index: -1;
    top: 0px; 
    left: 0px;
    width: 1250px;
    height: 25px;
    background-color: green;
}

#bottom{
    position: fixed;
    z-index: 1;
    bottom: 0px; 
    left: 0px;
    width: 1250px;
    height: 25px;
    background-color: green;
}

.summary{
  background-color: green
}